<section class="List">
  <div>
    <h6>Route Params</h6>
    <pre>{{ routeParams$ | async | json }}</pre>
    <h6>Filters State</h6>
    <pre>{{ filters$ | async | json }}</pre>
  </div>
  <div
    *ngIf="isLoading$ | async"
    class="position-absolute top-50 start-50 translate-middle"
  >
    <mat-spinner class="spinner" diameter="100"></mat-spinner>
  </div>

  <ng-template
    *ngIf="hasHeaderSlot; else defaultHeader"
    [ngTemplateOutlet]="renderHeaderSlot"
    [ngTemplateOutletContext]="{ entity: 'Patients' }"
    #headerSlot
  >
  </ng-template>

  <ng-template #defaultHeader>
    <div class="row mb-5">
      <div class="col-11">
        <form [formGroup]="filters">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Search...</mat-label>
            <input
              formControlName="nomeoucpf"
              matInput
              placeholder="Search..."
            />
          </mat-form-field>
        </form>
      </div>
      <button mat-button [matMenuTriggerFor]="menu" class="col-1 filter-button">
        Filters
        <mat-icon>filter_list</mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="p-2">
        <section [formGroup]="filters">
          <div>
            <mat-label>Status</mat-label>
            <mat-form-field
              class="w-100"
              appearance="fill"
              (click)="$event.stopPropagation()"
              appearance="fill"
              class="w-100"
            >
              <mat-label>Ativo</mat-label>
              <mat-select formControlName="ativo">
                <!-- <mat-option>Todos</mat-option> -->
                <!-- <mat-option [value]="true">Obito</mat-option> -->
                <mat-option [value]="true">Ativo</mat-option>
                <mat-option [value]="false">Inativo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </section>
        <div class="d-flex justify-content-end">
          <button
            mat-stroked-button
            (click)="clearFilters()"
            color="primary"
            class="me-2"
          >
            Clean
          </button>
          <button
            mat-flat-button
            (click)="handleFilter($event)"
            color="primary"
          >
            Filter
          </button>
        </div>
      </mat-menu>
    </div>
  </ng-template>

  <ng-template
    *ngIf="hasBodySlot"
    [ngTemplateOutlet]="renderBodySlot"
    [ngTemplateOutletContext]="{
      fields: fields$ | async,
      results: results$ | async,
      isLoading: isLoading$ | async
    }"
  ></ng-template>

  <!-- <div *ngIf="!isFetching">
    <div>
      <h6>Nenhum item encontrado.</h6>
    </div>
  </div> -->
</section>
