<section class="List">
  <div
    *ngIf="isLoading$ | async"
    class="position-absolute top-50 start-50 translate-middle"
  >
    <mat-spinner class="spinner" diameter="100"></mat-spinner>
  </div>

  <ng-template
    *ngIf="hasHeaderSlot; else defaultHeader"
    [ngTemplateOutlet]="renderHeaderSlot"
    [ngTemplateOutletContext]="{ entity: 'Patients' }"
    #headerSlot
  >
  </ng-template>

  <ng-template #defaultHeader>
    <h6>default header</h6>
  </ng-template>

  <ng-template
    *ngIf="hasBodySlot"
    [ngTemplateOutlet]="renderBodySlot"
    [ngTemplateOutletContext]="{
      fields: fields$ | async,
      results: results$ | async,
      isLoading: isLoading$ | async
    }"
  ></ng-template>

  <!-- <div *ngIf="!isFetching">
    <div>
      <h6>Nenhum item encontrado.</h6>
    </div>
  </div> -->
</section>
