<section class="Home">
  <div class="container">
    <h2>HOMErr</h2>

    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center bg-white p-5 rounded">
          <app-list-test>
            <!-- <ng-template name="Brazil" let-country>
              <pre>{{ country | json }}</pre>
            </ng-template>
            <ng-template name="Canada">
              <h1>CANADA OR BRAZIL? XD</h1>
            </ng-template> -->
            <ng-template name="Portugal" let-country>
              <div class="d-flex justify-content-between">
                <pre>{{ country | json }}</pre>
              </div>
            </ng-template>
          </app-list-test>
        </div>
      </div>
    </div>
  </div>
</section>
z