<section class="Login w-100">
  <div class="w-50 position-absolute end-0">
    <figure class="background-image m-0 vw-100 vh-100"></figure>
  </div>
<div class="container">
  <div class="row">
      <div class="col-6">
        <div class="login-form d-flex flex-column align-items-center justify-content-center">
          <img  class="logo mb-5" src="/assets/amei-logo2.svg" alt="Logo Amei">
          <h1 class="text-primary fw-bold mb-4">Acesse sua conta</h1>
          <input class="mb-2 rounded-pill border-0"   placeholder="E-mail" type="text">
          <input  class="rounded-pill border-0" placeholder="Senha" type="text">
        </div>
      </div>
    </div>
  </div>
</section>