<ng-container *ngIf="fields$ | async as fields">
  <section class="container">
    <h2 class="my-5">Employees</h2>
    <div class="container h-100 d-flex flex-column align-items-center mb-5">
      <div class="d-flex">
        <div class="d-flex flex-column">
          <button
            mat-flat-button
            class="mb-2"
            color="primary"
            (click)="changeFields()"
          >
            Change form fields for 3 fields
          </button>
          <button mat-flat-button color="primary" (click)="changeFields2()">
            Set to full fields
          </button>
        </div>

        <div class="d-flex flex-column">
          <button
            mat-flat-button
            class="mb-2"
            color="primary"
            (click)="setColumnsToOriginal()"
          >
            Set to columns original
          </button>

          <button mat-flat-button color="warn" (click)="resetColumns()">
            Reset columns
          </button>
        </div>
        <div class="d-flex flex-column">
          <button
            color="primary"
            class="mb-2"
            mat-flat-button
            (click)="setBirthdayFieldEnabled()"
          >
            Enable birthday
          </button>
          <button
            mat-flat-button
            color="warn"
            (click)="setBirthdayFieldDisabled()"
          >
            Set to birthDay disabled
          </button>
        </div>
        <div class="d-flex flex-column">
          <button
            mat-flat-button
            class="me-2"
            color="warn"
            (click)="resetValidations()"
          >
            Reset current validators
          </button>
        </div>
      </div>
      <pre>{{ componentStore$ | async | json }}</pre>
      <pre>{{ formValues | json }}</pre>
      <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
        <app-form
          [fields]="filterObject(fields, employeePersonalFields$.getValue())"
          [columns]="employeePersonalColumns$ | async"
          [fieldsValidators]="employeePersonalValidators$ | async"
          [fieldsAttributes]="employeePersonalAttributes$ | async"
          #personalForm
        >
        </app-form>
      </div>
    </div>
  </section>
</ng-container>
