<ng-container *ngIf="fields$ | async as fields">
  <section>
    <h2>Employees</h2>
    <button mat-button (click)="resetValidations()">RESETTT</button>
    <button mat-button (click)="changeFields()">change fieldss</button>
    <button mat-button (click)="changeFields2()">Go to Original</button>
    <button mat-button (click)="resetColumns()">Reset columns</button>
    <div class="container h-100 d-flex flex-column align-items-center mb-5">
      <pre>{{ componentStore$ | async | json }}</pre>
      <pre>{{ formValues | json }}</pre>
      <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
        <!-- <app-form-generator
          [fields]="filterObject(fields, employeePersonalFields)"
          [columns]="employeePersonalColumns"
          [fieldsValidators]="employeePersonalValidators"
          #personalForm
        >
        </app-form-generator> -->

        <app-form
          [fields]="filterObject(fields, employeePersonalFields$.getValue())"
          [columns]="employeePersonalColumns$ | async"
          [fieldsValidators]="employeePersonalValidators$ | async"
          #personalForm
        >
        </app-form>
      </div>
    </div>
  </section>
</ng-container>
