<section class="PatientForm">
  <!-- <pre>
    <h6>PatientForm Values</h6>
    {{ values | json }} 
  </pre>
  <pre>
    <h6>URL</h6>
    {{ mode$ | async }} 
  </pre> -->
  <app-form-view
    entity="Patient"
    [mode]="mode$ | async"
    (fetchSuccess)="onFetchSuccess($event)"
  >
    <ng-template #header>
      <div class="container">
        <div class="d-flex justify-content-between">
          <h2>Some / Breadcrumb / Some / Breadcrumb</h2>
          <div>
            <button
              mat-flat-button
              color="accent"
              class="me-3"
              (click)="onResetChanges()"
            >
              RESET
            </button>
            <button mat-flat-button (click)="onSaveChanges()">SALVAR</button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template
      #body
      let-fields="fields"
      let-result="result"
      let-formStore="formStore"
    >
      <!-- <pre>{{ result | json }}</pre>
      <pre>{{ fields | json }}</pre> -->
      <div class="container h-100 d-flex flex-column align-items-center mb-5">
        <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
          <div class="row">
            <div class="col-12">
              <h5 class="mb-4">Patient personal information</h5>

              <app-form-generator
                [fields]="filterObject(fields, patientPersonalFields)"
                [columns]="patientPersonalColumns"
                [fieldsValidators]="patientPersonalValidators"
                #personalForm
              >
              </app-form-generator>
            </div>
          </div>
        </div>
        <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
          <div class="row">
            <div class="col-12">
              <h5 class="mb-4">Patient additional information</h5>
              <app-form-generator
                [fields]="filterObject(fields, patientAdditionalFields)"
                [columns]="patientAdditionalColumns"
                [fieldsValidators]="patientAdditionalValidators"
                #additionalForm
              >
                <!-- <ng-template
                  name="cep"
                  let-field="field"
                  let-form="formGroupRef"
                  let-fieldRef="formControlRef"
                >
                  <div class="col-4" [formGroup]="form">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label>{{
                        field.placeholder || field.label
                      }}</mat-label>
                      <input
                        matInput
                        [formControlName]="field.name"
                        (input)="
                          handle2({
                            event: $event,
                            form: this.form,
                            fieldControl: fieldRef,
                            formStore
                          })
                        "
                      />
                      <mat-spinner
                        class="loading"
                        [diameter]="30"
                        matSuffix
                        *ngIf="fetchingCep"
                      ></mat-spinner>
                      <mat-error
                        *ngIf="form.get(field.name)?.errors"
                        class="me-2"
                        >{{
                          showError(form.get(field.name)?.errors)
                        }}</mat-error
                      >
                    </mat-form-field>
                  </div>
                </ng-template> -->
              </app-form-generator>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </app-form-view>
</section>
