<section class="Form">
  <pre>
    <h6>PatientForm Values</h6>
    {{ values | json }} 
  </pre>
  <app-form-view entity="Patient">
    <ng-template
      #body
      let-fields="fields"
      let-results="results"
      let-formStore="formStore"
    >
      <div class="container h-100 d-flex align-items-center mb-5">
        <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
          <div class="row">
            <div class="col-12">
              <app-form-generator
                [fields]="filterObject(fields, patientPersonalFields)"
                [columns]="patientPersonalColumns"
                [fieldsValidators]="patientPersonalValidators"
              >
                <ng-template
                  name="name"
                  let-field="field"
                  let-form="formGroupRef"
                  let-fieldRef="formControlRef"
                >
                  <div class="col-12">
                    <app-field
                      [field]="field"
                      [form]="form"
                      (input)="
                        handle({
                          event: $event,
                          form: this.form,
                          formStore
                        })
                      "
                    ></app-field>
                  </div>
                  <button
                    mat-flat-button
                    color="primary"
                    (click)="handleClick(fieldRef)"
                  >
                    Enviar
                  </button>
                </ng-template>
              </app-form-generator>
            </div>
          </div>
        </div>
        <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
          <div class="row">
            <div class="col-12">
              <!-- <app-form-generator
                [fields]="filterObject(fields, patientAdditionalFields)"
                [columns]="patientAdditionalColumns"
                [fieldsValidators]="patientAdditionalValidators"
              >
              </app-form-generator> -->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </app-form-view>
</section>
