<div class="container mt-5 d-block">
  <!-- <mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile *ngFor="let day of currentWeek | keyvalue">
      <div
        class="d-flex flex-column justify-content-center align-content-center"
      >
        <h6>{{ day.value.dayOfWeekName }}</h6>
        <span>{{ day.value.monthDay }}</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->

  <ng-container *ngFor="let row of hoursOfDay; let i = index">
    <mat-grid-list cols="8" rowHeight="50px">
      <mat-grid-tile>
        <div class="d-flex justify-content-center align-items-center w-100">
          <button mat-flat-button>Add event</button>
        </div>
        <div
          *ngIf="i === 0"
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <!-- <h6>{{ getWeekName(j - 1) }}</h6> -->
          <!-- <h6>{{ getMonthDay(j - 1) }}</h6> -->
        </div>

        <div class="d-flex justify-content-center align-items-center w-100">
          <!-- <span> {{ i }} {{ j }} </span> -->
        </div>
        <div class="d-flex justify-content-center align-items-center w-100">
          <span>{{ row }}</span>
        </div>

        <mat-divider [vertical]="true" class="h-100"></mat-divider>
      </mat-grid-tile>
      <mat-divider *ngIf="i !== 0"></mat-divider>
    </mat-grid-list>
  </ng-container>
</div>
