<div class="container">
  <app-list-view entity="Patient">
    <ng-template #header let-entity="entity">
      <div class="d-flex justify-content-between align-items-center w-100 my-5">
        <ul class="list-unstyled d-flex">
          <li class="me-2">Home</li>
        </ul>
        <button mat-button class="bg-warning">Enviar</button>
      </div>
    </ng-template>

    <ng-template
      #body
      let-fields="fields"
      let-results="results"
      let-isLoading="isLoading"
    >
      <table
        mat-table
        [dataSource]="results"
        class="w-100"
        *ngIf="results.length && !isLoading"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Lastname</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">
            {{ element.gender }}
          </td>
        </ng-container>

        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef>Document</th>
          <td mat-cell *matCellDef="let element">{{ element.document }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>phone</th>
          <td mat-cell *matCellDef="let element">
            {{ element.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              (click)="redirectToEdit(element.uuid)"
              color="primary"
              mat-icon-button
              aria-label="edit"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button color="primary" mat-icon-button aria-label="visibility">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="patientColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: patientColumns()"></tr>
      </table>
    </ng-template>
  </app-list-view>
</div>
