<section class="PatientForm d-block">
  <div class="container rounded">
    <div class="d-flex justify-content-between">
      <h2>Some / Breadcrumb / Some / Breadcrumb</h2>
      <div>
        <button mat-flat-button color="accent" class="me-3">RESET</button>
        <button mat-flat-button>SALVAR</button>
      </div>
    </div>

    <!-- {{ formValues | json }} -->
    {{ procedures | json }}

    <section class="section-1">
      <h4>Dados Gerais</h4>

      <app-form
        [fields]="
          patientFields$ | async | filterObject : (generalFieldsNames$ | async)
        "
        [columns]="patientGeneralColumns$ | async"
        [fieldsValidators]="patientGeneralValidators$ | async"
        [fieldsAttributes]="patientGeneralAttributes$ | async"
      >
      </app-form>
    </section>

    <section class="section-1">
      <h4>Contato</h4>
      <app-form
        [fields]="
          patientFields$ | async | filterObject : (contactFieldsNames$ | async)
        "
        [columns]="patientContactColumns$ | async"
        [fieldsValidators]="patientContactValidators$ | async"
        [fieldsAttributes]="patientContactAttributes$ | async"
      >
      </app-form>
    </section>

    <section class="section-1">
      <h4>Endereco</h4>

      <app-form
        [fields]="
          patientFields$ | async | filterObject : (addressFieldsNames$ | async)
        "
        [columns]="patientAddressColumns$ | async"
        [fieldsValidators]="patientAddressValidators$ | async"
        [fieldsAttributes]="patientAddressAttributes$ | async"
      >
        <!-- <ng-template name="cep" let-field="field" let-form="formGroupRef">
          <div class="col-4" [formGroup]="form">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ field.placeholder || field.label }}</mat-label>
              <input matInput [formControlName]="field.name" mask="00000-000" />
              <mat-spinner
                class="loading"
                [diameter]="30"
                matSuffix
              ></mat-spinner>
              <mat-error *ngIf="form.get(field.name)?.errors" class="me-2">{{
                form.get(field.name)?.errors
              }}</mat-error>
            </mat-form-field>
          </div>
        </ng-template> -->
        <ng-template
          name="procedures"
          let-field="field"
          let-form="formGroupRef"
        >
          <app-autocomplete
            class="col-4"
            appearance="fill"
            placeholder="Filtrar procedimentos por"
            [data]="procedures$ | async"
            [cacheData]="false"
            [cacheSelectData]="false"
            [multiple]="true"
            (selectedOptions)="onSelectedProcedures($event)"
          >
          </app-autocomplete>
        </ng-template>
      </app-form>
    </section>
  </div>
</section>

<!-- { "cpf": "46625288825", "nome": "Raul", "sobrenome": "Tonello Rothschild",
"nomeSocial": "Mogli", "rg": "39526098-x", "dataNascimento":
"1998-02-18T02:00:00.000Z", "nomeMae": "Clarisa", "naturalidade": "Sao Paulo",
"dataCadastro": "2023-08-17T03:00:00.000Z" } -->
