<form [formGroup]="form">
  <div *ngIf="hasFields" class="row">
    <ng-container
      *ngFor="let field of toArrayFields(fields)"
      [ngTemplateOutlet]="getTemplateRefByName(field.name) || default"
      [ngTemplateOutletContext]="fieldContext(field)"
    >
      <ng-template #default>
        <div [class]="getFieldClass(field.name)">
          <app-field
            [field]="field"
            [fieldAttributes]="getFieldAttributes(field.name)"
          ></app-field>
        </div>
      </ng-template>
    </ng-container>
  </div>
</form>
