<div [ngSwitch]="field.type" [formGroup]="form">
  <ng-container *ngSwitchCase="'text'">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ field.placeholder || field.label }}</mat-label>
      <input matInput [formControlName]="field.name" />
      <mat-spinner
        class="loading"
        [diameter]="30"
        matSuffix
        *ngIf="field.loadingStatus"
      ></mat-spinner>
      <mat-error *ngIf="form.get(field.name)?.errors" class="me-2">{{
        showError(form.get(field.name)?.errors)
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'email'">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ field.placeholder || field.label }}</mat-label>
      <input matInput [formControlName]="field.name" type="email" />
      <mat-error *ngIf="form.get(field.name)?.errors" class="me-2">{{
        showError(form.get(field.name)?.errors)
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ field.name }}</mat-label>
      <mat-select [formControlName]="field.name">
        <mat-option
          *ngFor="let option of field.options"
          [value]="option.value"
          >{{ option.label }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get(field.name)?.errors" class="me-2">{{
        showError(form.get(field.name)?.errors)
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ field.name }}</mat-label>
      <textarea matInput [formControlName]="field.name"></textarea>
      <mat-error *ngIf="form.get(field.name)?.errors" class="me-2">{{
        showError(form.get(field.name)?.errors)
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'radio'">
    <div class="w-100">
      <mat-radio-group
        aria-label="Select an option"
        [formControlName]="field.name"
      >
        <mat-label>Select an option</mat-label>
        <mat-radio-button
          [value]="option.value"
          *ngFor="let option of field.options"
          >{{ option.label }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'date'">
    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ field.placeholder || field.label }}</mat-label>
        <input
          matInput
          [formControlName]="field.name"
          [matDatepicker]="picker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get(field.name)?.errors" class="me-2">{{
          showError(form.get(field.name)?.errors)
        }}</mat-error>
      </mat-form-field>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'checkbox'">
    <div class="w-100" [formGroupName]="field.name">
      <mat-checkbox
        labelPosition="before"
        *ngFor="let option of field.options"
        [indeterminate]="true"
        [formControlName]="option.label"
      >
        {{ option.label }}
      </mat-checkbox>
    </div>
  </ng-container>
</div>
