<ng-container *ngIf="vm$ | async as vm">
  <!-- <pre>{{ vm$ | async | json }}</pre> -->
  <!-- <form [formGroup]="form">
    <div *ngIf="hasFields" class="row">
      <ng-container
        *ngFor="let field of toArrayFields(fields)"
        [ngTemplateOutlet]="getTemplateRefByName(field.name) || default"
        [ngTemplateOutletContext]="fieldContext(field)"
      >
        <ng-template #default>
          <div [class]="getFieldClass(field.name)">
            <app-field
              [field]="field"
              [fieldFormControl]="form.get(field.name)"
              [form]="form"
              [fieldAttributes]="getFieldAttributes(field.name)"
            ></app-field>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </form> -->
  <ng-container *ngFor="let data of vm.fields | keyvalue">
    <!-- <pre>{{ data | json }}</pre> -->
    <!-- <pre> [fieldAttributes]="getFieldAttributes(field.key)"</pre> -->
    <div class="row">
      <app-field
        [class]="getFieldClass(data.key)"
        [field]="data.value"
        [fieldFormControl]="form.get(data.key)"
        [fieldAttributes]="getFieldAttributes(data.key)"
        [form]="form"
      ></app-field>
    </div>
  </ng-container>
</ng-container>
