<ng-container>{{ vm$ | async }}</ng-container>
<section class="container">
  <h2 class="mb-5">Contas financeiras</h2>

  <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
    <ng-container *ngIf="financialAccountsFields$ | async as fields">
      <app-form
        [fields]="
          filterObject(fields, financialAccountsFieldsNames$.getValue())
        "
        [columns]="financialAccountsColumns$ | async"
        [fieldsValidators]="financialAccountsValidators$ | async"
        [fieldsAttributes]="financialAccountsAttributes$ | async"
        #financialAccountsForm
      >
      </app-form>
    </ng-container>

    <pre>{{ formValues | json }}</pre>
  </div>
</section>
