<section class="container">
  <h2 class="mb-5">Contas financeiras</h2>
  <div class="box shadow-sm bg-white rounded p-4 w-100 mt-5">
    <!-- <pre>{{
      financialAccountsFields$
        | async
        | filterObject : (financialAccountsFieldsNames$ | async)
        | json
    }}</pre> -->
    <app-form
      [fields]="
        financialAccountsFields$
          | async
          | filterObject : (financialAccountsFieldsNames$ | async)
      "
      [columns]="financialAccountsColumns$ | async"
      [fieldsValidators]="financialAccountsValidators$ | async"
      [fieldsAttributes]="financialAccountsAttributes$ | async"
      [values]="financialAccount$ | async"
    >
    </app-form>

    <pre>{{ formValues | json }}</pre>
  </div>
</section>
<!-- [fields]="
filterObject(fields, financialAccountsFieldsNames$.getValue())
" -->
<!-- [values]="{
  unidadeId: 183,
  tipoContaId: 2,
  nome: 'Raul Rothschild',
  contaLiquidacao: [11, 8, 10],
  bancoId: '392',
  agencia: '0001',
  numero: '24592',
  titulo: 'Raul Tonello Rothschild',
  documento: '39.526.098-0'
}" -->

<!-- [values]="{
  unidadeId: 183,
  tipoContaId: 2,
  nome: 'Raul Rothschild',
  contaLiquidacao: [11, 8, 10],
  bancoId: 392,
  agencia: ' 0001',
  numero: 1232,
  titulo: 'Raul Rothschild',
  documento: '39.526.098-0'
}" -->
