<div class="Card rounded-top shadow-sm rounded-bottom">
  <header class="head rounded-top">
    <div
      class="background-image w-100 h-100 rounded-top"
      [style.background-image]="'url(' + backgroundImage() + ')'"
    ></div>
  </header>

  <div class="content p-3">
    <!-- <ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"></ng-template> -->

    <div #default>
      <h6>this is a default</h6>
    </div>

    <body class="body mb-3 fw-bold">
      <div *ngFor="let item of data">
        <ng-container
          [ngTemplateOutlet]="content.templateRef || default"
          [ngTemplateOutletContext]="{ $implicit: data }"
        ></ng-container>
      </div>
    </body>

    <ng-content> </ng-content>

    <footer class="footer d-flex justify-content-end">
      <button mat-raised-button class="me-2" color="primary">Action 1</button>
      <button mat-button>Action 2</button>
    </footer>
  </div>
</div>

<template #default></template>
