<div *ngIf="currentOptions$ | async as currentOptions">
  <mat-form-field
    [appearance]="appearance"
    [floatLabel]="floatingLabel"
    class="w-100"
  >
    <mat-label>{{ placeholder }}</mat-label>
    <input
      matInput
      type="text"
      [formControl]="searchControl"
      [placeholder]="placeholder"
      [matAutocomplete]="autoCompleteRef"
    />
    <mat-spinner [diameter]="30" matSuffix *ngIf="isLoading"></mat-spinner>
    <mat-error
      class="mt-5 fs-6"
      *ngIf="searchControl.invalid || searchControl.errors?.['invalid']"
      >Campo obrigatório*</mat-error
    >
  </mat-form-field>

  <mat-autocomplete #autoCompleteRef="matAutocomplete" class="w-100">
    <mat-option class="d-none"> </mat-option>
    <mat-checkbox
      class="checkbox"
      [checked]="allSelected$ | async"
      (change)="onSelectAll()"
      *ngIf="hasOptionsToToggle"
    >
      Todos
    </mat-checkbox>

    <div
      *ngFor="
        let option of currentOptions$ | async | keyvalue;
        trackBy: trackByFn
      "
    >
      <mat-checkbox
        [checked]="option.value.selected"
        class="checkbox"
        (change)="onAddOption(option.value.value)"
      >
        {{ option.value.label }}
      </mat-checkbox>
    </div>

    <div *ngIf="searchNotFound && !hasOptionsToToggle" class="p-3">
      <h6 class="text-gray-medium m-0">Não foram encontrados resultados</h6>
    </div>
  </mat-autocomplete>
</div>
