<mat-form-field
  [appearance]="appearance"
  [floatLabel]="floatingLabel"
  class="w-100"
>
  <mat-label>{{ placeholder }}</mat-label>
  <input
    matInput
    type="text"
    [formControl]="searchControl"
    [placeholder]="placeholder"
    [matAutocomplete]="autoCompleteRef"
  />
  <mat-spinner [diameter]="30" matSuffix *ngIf="isLoading"></mat-spinner>
</mat-form-field>

<pre>{{ allSelected$ | async }}</pre>
<mat-autocomplete #autoCompleteRef="matAutocomplete" class="w-100">
  <mat-option class="d-none"> </mat-option>
  <mat-checkbox
    class="checkbox"
    [checked]="allSelected$ | async"
    (change)="onSelectAll()"
    *ngIf="selectAllOption"
  >
    Todos
  </mat-checkbox>

  <div *ngFor="let option of currentOptions$ | async; trackBy: trackBy">
    <mat-checkbox
      [checked]="option.selected"
      class="checkbox"
      (click)="onAddOption(option.value, $event)"
    >
      {{ option.label }}
    </mat-checkbox>
  </div>
</mat-autocomplete>

<h6>Current Selected</h6>
<pre>{{ currentSelectedOptions$ | async | json }}</pre>

<h6>Current Selected Ids</h6>
<pre>{{ currentSelectedIdsHTML }}</pre>

<h6>Current Options</h6>
<pre>{{ currentOptions$ | async | json }}</pre>
